<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/hcmut.png" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li>Overview</li>
        <li>Tracks</li>
        <li>Comments</li>
        <li>Albums</li>
        <li>Earnings</li>
        <li>Insights</li>
        <li>Benefits</li>
        <li>Membership</li>
        <li>Profile Control</li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <div class="header-content">
      <div class="left-header">
        <h1 class="fz-40">My track</h1>
      </div>
      <div class="right-header">
        <div class="right-header-inner">
          <button class="search-btn header-btn h-40 p-4-16">
            <i class="btn-inner m-r-4">
              <img src="../../../assets/search-icon.png" alt="search-icon" class="w-20 h-20" />
            </i>
            Search
          </button>
          <button class="upload-btn header-btn h-40 p-4-16">
            <i class="btn-inner m-r-4">
              <img src="../../../assets/upload-cloud-data.png" alt="upload-icon" class="w-20 h-20" />
            </i>
            Upload
          </button>
          <button class="notification-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/bell.png" alt="bell-icon" />
            </i>
          </button>
          <button class="message-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/envelope.png" alt="envelope-icon" />
            </i>
          </button>
          <div class="account-avt header-btn">
            <i class="btn-inner">
              <img src="../../../assets/jack.jpg" alt="jackbentreimg" />
            </i>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="upload-track-box">
      <div class="upload-bar m-t-b-12">
        <div class="upload-bar-left">
          <div class="logo m-r-4">
            <img src="../../../assets/cu1.png" alt="upload-cloud-data" />
          </div>
          <p class="fw-700"><span class="fw-700">0</span>% of uploads used</p>
          <div class="loading"></div>
          <p><span>0</span> of 180 minutes</p>
        </div>
        <div class="upload-bar-right">
          <button>Get unlimited uploads</button>
        </div>
      </div>
      <div class="upload-content">
        <div class="upload-content-text">
          <h1 class="fw-700 fz-40 m-t-b-12">
            Upload your first track to SoundCloud
          </h1>
          <p class="fz-12 m-t-b-12">
            Upload your tracks to SoundCloud to get heard by milions of fans
            around the world. Getting your music on SoundCloud is the first step
            to developing your sound and building your fanbase.
          </p>
          <b>Next Pro Subcribers get unlimited uploads </b>
          <div class="add-btn m-t-b-12" (click)="navigateToAddMusic()">
            <button>Add your newest track</button>
          </div>
        </div>
        <div class="upload-content-logo">
          <img src="../../../assets/hcmut.png" alt="souncloud" />
        </div>
      </div>
    </div>
  </div>
</div>