<app-header></app-header>

<div class="page-container">
    <form class="user-form-container" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
        <div class="user-form-header">
            <h1>Reset Password</h1>
        </div>
        <div class="user-form-image-container">
            <div class="user-form-image-wrapper">
                <img [src]="userDetail.image_url" alt="User Image">
            </div>
        </div>
        <div class="user-form-input-container">
            <div class="user-form-input-wrapper">
                <div class="user-form-input-wrapper-label">
                    <label for="oldPassword">Old Password</label>
                </div>
                <div class="user-form-input-wrapper-input">
                    <input type="password" id="oldPassword" name="oldPassword" required [(ngModel)]="oldPassword">
                </div>
            </div>
        </div>

        <div class="user-form-input-container">
            <div class="user-form-input-wrapper">
                <div class="user-form-input-wrapper-label">
                    <label for="newPassword">New Password</label>
                </div>
                <div class="user-form-input-wrapper-input">
                    <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword">
                </div>
            </div>
        </div>

        <div class="user-form-input-container">
            <div class="user-form-input-wrapper">
                <div class="user-form-input-wrapper-label">
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="user-form-input-wrapper-input">
                    <input type="password" id="confirmPassword" name="confirmPassword" required
                        [(ngModel)]="confirmPassword">
                </div>
            </div>
        </div>

        <div class="user-form-change-password-button-container">
            <div class="user-form-change-password-button-wrapper">
                <button class="user-form-change-password-button" type="submit">Change
                    Password</button>
            </div>
        </div>
    </form>
</div>