.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

//  ---- Brand Container ----
.brand-container {
    width: 200px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: transparent;
}

.logo {
    width: 50px;
    height: 100%;
    overflow: hidden;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    color: #ffffffd2;
}

//  ---- Right Container ----
.right-container {
    width: 27%;
    height: 80%;

    font-size: 11px !important;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.btn {
    border-radius: 5px;
    // font-weight: 700;
}

.btn:hover,
.btn:active {
    cursor: pointer;
    border: none !important;
}

.sign-in-btn {
    width: 80px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: 1px solid #fff;
    margin-bottom: 1px;
}

.create-account-btn {
    width: 130px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f50;
    outline: none;
    margin-bottom: 1px;
}

.for-artists-btn {
    height: 30px;
    color: #fff;
}