// Common
.flex-align-center {
  display: flex;
  align-items: center;
}

.btn {
  padding: 4px 12px;
}

@mixin button-hover() {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

// Private
// Header
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(132deg,
      rgb(255, 127, 56) 0%,
      rgb(255, 196, 108) 100%);
}

.sign-in-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

//  ---- Brand Container ----
.brand-container {
  width: 200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: transparent;
}

.logo {
  width: 50px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffffd2;
}

//  ---- Right Container ----
.right-container {
  height: 100%;
  padding: 0 28px;

  font-size: 14px !important;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.btn {
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.sign-in-btn {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 1px;
  border: 1px solid #fff;
  @include button-hover();
}

.create-account-btn {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f50;
  margin-bottom: 1px;
  @include button-hover();
}

.for-artists-btn {
  color: #fff;
  @include button-hover();
}