<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/admin.jpg" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li (click)="navigateToDashboard()">Dashboard</li>
        <li (click)="navigateToUserList()">All Users</li>
        <li (click)="navigateToApprovedTracks()">Approved Tracks</li>
        <li (click)="navigateToPendingTracks()">Pending Tracks</li>
        <li (click)="navigateToApprovedAlbums()">Approved</li>
        <li (click)="navigateToPendingAlbums()">Pending Albums</li>
        <li>Playlist (Beta)</li>
      </ul>
    </nav>
  </aside>
  <div class="main-content">
    <!-- header content -->
    <div class="header-content">
      <div class="left-header">
        <h1 class="fz-40">{{ album.name }}</h1>
      </div>
      <div class="right-header">
        <div class="right-header-inner">
          <button class="notification-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/bell.png" alt="bell-icon" />
            </i>
          </button>
          <button class="message-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/envelope.png" alt="envelope-icon" />
            </i>
          </button>
          <div class="account-avt header-btn">
            <i class="btn-inner">
              <img src="{{ artirstInfor.image_url }}" alt="jackbentreimg" />
            </i>
            <ul class="artist-dropdown-menu">
              <li (click)="navigateToProfile()"><a>Profile</a></li>
              <li (click)="logout()"><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- body content -->
    <div class="body-content">
      <div class="body-content-top">
        <img [src]="album.cover_url" alt="jackbanner" class="banner-img" />
      </div>
      <div class="body-content-bot">
        <div class="bot-left">
          <div class="song-card" *ngFor="let song of songs">
            <img [src]="song.image_url" alt="Song 1" class="song-img" />
            <div class="song-info">
              <div class="song-and-description">
                <h3>{{ song.name }}</h3>
                <p>{{ song.description }}</p>
              </div>
              <p>Status: <span>{{ song.status }}</span></p>
            </div>
            <audio [src]="song.secure_url" controls></audio>
          </div>
        </div>
        <div class="bot-right">
          <div class="comment-card" *ngFor="let comment of comments">
            <div class="user-and-comment">
              <h4>{{ comment.user }}</h4>
              <p>{{ comment.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>