// Common
// mixin flexBox
@mixin flex($justify: center, $align: center, $direction: none) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.fz-40 {
  font-size: 40px;
}

.fz-12 {
  font-size: 12px;
}

.fw-700 {
  font-weight: 700;
}

.br-20 {
  border-radius: 20px;
}

.w-60-percent {
  width: 60% !important;
}

.w-20 {
  width: 20px !important;
}

.h-20 {
  height: 20px !important;
}

.w-16 {
  width: 16px !important;
}

.h-16 {
  height: 16px !important;
}

.w-100 {
  width: 100px !important;
}

.h-auto {
  height: auto !important;
}

.p-4-16 {
  padding: 4px 16px;
}

.p-l-4 {
  padding-left: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-44 {
  margin-top: 44px;
}

.m-t-b-12 {
  margin: 12px 0;
}

.m-r-4 {
  margin-right: 4px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-l-100 {
  margin-left: 100px;
}

.m-l-60 {
  margin-left: 60px;
}

.c-ccc {
  color: #ccc;
}

.c-gray {
  color: gray;
}

.c-red {
  color: red;
}

.text-center {
  text-align: center;
}

.dashed {
  border: 1px dashed #ccc;
  border-radius: 4px;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 12px;
  width: 100%;
}

.header-btn {
  margin-right: 12px;
  border-radius: 20px;
  border: 1px solid #000;
  @include flex(center, center);
}

.common-btn {
  background: black;
  color: white;
  padding: 4px 16px;
  border-radius: 12px;
}

// Private
// dropdown menu
.artist-dropdown-menu {
  position: absolute;
  transform: translateY(0);
  background-color: #fff;
  color: #333;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
  min-width: 80px;
}

.artist-dropdown-menu li {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.artist-dropdown-menu li:hover {
  background-color: #000;
  color: #fff;
}

.artist-dropdown-menu li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.account-avt:hover .artist-dropdown-menu {
  display: block;
}

// Aside
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  @include flex(none, none);
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
}

.sidebar .logo img {
  width: 100%;
  min-height: 160px;
  margin-bottom: 20px;
}

.sidebar .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu ul li {
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .menu ul li:hover {
  color: #f50;
}

.beta {
  font-size: 10px;
  color: #ff5a5a;
  font-weight: bold;
}
// Main content
.main-content {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  @include flex(none, center);
  flex-direction: column;
}
// header   content
.header-content {
  width: 100%;
  padding: 20px 20px 0;
  min-height: 100px;
  @include flex(space-between, flex-end);
  overflow: hidden;
  border-bottom: 1px solid #000;
}

.left-header h1 {
  font-size: 40px;
  font-weight: 700;
}

.right-header {
  min-width: 300px;
  min-height: 100px;
  margin-right: 20px;
  @include flex(space-between, center);
  justify-content: flex-end;
}

.right-header-inner {
  @include flex(space-evenly, flex-end);
}

.right-header-inner img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.account-avt {
  display: inline-block;
  user-select: none;
}

//  body content
.body-content {
  padding: 20px 20px;
  flex-direction: column;
  @include flex(space-between, none);
}
.body-content-top {
  width: 100%;
  height: 25%; /* Chiếm 40% chiều cao màn hình */
  overflow: hidden;
  border-radius: 8px;
}

.body-content-top .banner-img {
  width: 100%;
  object-fit: cover; /* Giữ tỉ lệ ảnh và gói gọn trong phần tử */
}

.body-content-bot {
  display: flex;
  flex: 1; /* Chiếm phần còn lại của màn hình */
  overflow: auto; /* Cuộn nội dung nếu vượt quá chiều cao */
  gap: 20px;
  margin-top: 10px;
}

.bot-left,
.bot-right {
  flex: 1;
  overflow-y: auto; /* Cuộn nội dung nếu nhiều */
}

.song-card {
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 100px; /* Hạn chế chiều cao của thẻ bài hát */
}

.song-card .song-img {
  flex: 0 0 60px; /* Giới hạn kích thước ảnh */
  width: 60px;
  height: 60px;
  object-fit: cover; /* Gói gọn ảnh trong khung */
  border-radius: 8px;
  margin-right: 10px;
}

.song-info {
  width: 100%;
  @include flex(space-between, none);
}

.bot-right .comment-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 100px; /* Hạn chế chiều cao của thẻ bình luận */
  overflow: hidden;
  @include flex(space-between, center);
}
