<div class="trending-container">
  <div class="trending-header">
    <h3>Hear what’s trending for free in the SoundCloud community</h3>
  </div>
  <div class="trending-content">
    <div class="row">
      <div
        class="track-card"
        *ngFor="let track of tracks | slice : 0 : 12; let i = index"
      >
        <img [src]="track.image_url" alt="Track Image" class="track-image" />
        <p class="track-name">{{ track.name }}</p>
        <p class="track-artist">{{ track.artist }}</p>
      </div>
    </div>
  </div>
</div>

<div class="music-player">
  <div class="player-info">
    <img
      src="https://via.placeholder.com/50"
      alt="Track Image"
      class="player-image"
    />
    <div class="player-details">
      <p class="player-track-name">Tên bài hát</p>
      <p class="player-track-artist">Tên ca sĩ</p>
    </div>
  </div>
  <div class="player-controls">
    <button class="control-button">⏮</button>
    <button class="control-button">⏯</button>
    <button class="control-button">⏭</button>
  </div>
</div>
