// Common
// mixin flexBox
@mixin flex($justify: center, $align: center, $direction: none) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.fz-40 {
  font-size: 40px;
}

.fz-12 {
  font-size: 12px;
}

.fw-700 {
  font-weight: 700;
}

.br-20 {
  border-radius: 20px;
}

.w-20 {
  width: 20px !important;
}

.h-20 {
  height: 20px !important;
}

.h-40 {
  height: 40px !important;
}

.p-4-16 {
  padding: 4px 16px;
}

.m-t-b-12 {
  margin: 12px 0;
}

.m-r-4 {
  margin-right: 4px;
}

.logo {
  border-radius: 0;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  // background-color: red;
}

.header-btn {
  margin-right: 12px;
  border-radius: 20px;
  border: 1px solid #000;
  @include flex(center, center);
}

// Private
// dropdown menu
.artist-dropdown-menu {
  position: absolute;
  transform: translateY(0);
  background-color: #fff;
  color: #333;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
  min-width: 80px;
}

.artist-dropdown-menu li {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.artist-dropdown-menu li:hover {
  background-color: #000;
  color: #fff;
}

.artist-dropdown-menu li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.account-avt:hover .artist-dropdown-menu {
  display: block;
}

// Aside
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  @include flex(none, none);
}

.dashboard-container {
  @include flex(center, center);
}

.dashboard-inner {
  height: 100%;
  padding-top: 100px;
  @include flex(space-between, none);
  gap: 20px;
  span {
    font-size: 32px;
  }
}

.user-box,
.album-box,
.song-box {
  flex: 1;
  flex-wrap: 1;
  width: 100%;
  height: 300px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.total-box {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.status-box {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.approved,
.pending {
  background-color: #ed3535;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 180px;
}

.label {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
}

.value {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.approved {
  background-color: rgb(70, 210, 70);
  color: #ffffff;
}

.album-box {
  background-color: #f5f5f5;
}

.song-box {
  background-color: #e0f7fa;
}

.sidebar {
  width: 250px;
  height: 100vh;

  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
}

.sidebar .logo img {
  width: 100%;
  min-height: 160px;
  margin-bottom: 20px;
}

.sidebar .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  // margin-left: 16px;
}

.sidebar .menu ul li {
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .menu ul li:hover {
  color: #f50;
}

.beta {
  font-size: 10px;
  color: #ff5a5a;
  font-weight: bold;
}

// Main content
.main-content {
  width: 100%;
  height: 100vh;

  overflow: hidden;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 99px;
  background-color: #fff !important;
  pointer-events: none;
}

.header-content {
  padding: 20px 20px 0;
  min-height: 100px;
  @include flex(space-between, flex-end);
}

.left-header h1 {
  font-size: 40px;
  font-weight: 700;
}

.right-header {
  min-width: 300px;
  min-height: 100px;
  margin-right: 20px;
  @include flex(space-between, center);
  justify-content: flex-end;
}

.right-header-inner {
  @include flex(space-evenly, flex-end);
}

.account-avt {
  display: inline-block;
  user-select: none;
}

.line {
  height: 1px;
  background-color: #000;
  width: 100%;
}

.upload-content {
  min-height: 246px;
  padding: 20px;
  @include flex(space-between, center);
}

.upload-bar {
  @include flex(space-between, center);
  width: 100%;
  background-color: #ccc;
  padding: 12px 20px;
}

.upload-bar-left {
  @include flex(center, center);
}

.add-btn button {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}

.upload-content-text {
  width: 70%;
}

.upload-content-logo {
  width: 30%;
  min-height: 206px;
  @include flex(center, center);
}

.upload-content-logo img {
  width: 70%;
  height: 70%;
}

.loading {
  width: 60px;
  height: 2px;
  background-color: gray;
  margin: 0 8px;
}

.upload-bar-right button {
  background: #fff;
  border: 1px solid;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: bold;
}

.dashboard-container {
  width: 100%;
  height: 100%;
}

.action-container {
  width: 10%;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.send-approve-container {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 0;
  width: 100%;
  height: 35%;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.reject-container {
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  padding: 8px 0;
  width: 100%;
  height: 35%;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirm-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.confirm-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 45px;
  min-width: 100px;
}

.confirm-actions button:first-child {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.confirm-actions button:last-child {
  background-color: #000;
  color: white;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.notification p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.notification.success {
  border-left: 5px solid #4caf50;
  /* Green */
}

.notification.error {
  border-left: 5px solid #f44336;
  /* Red */
}

/* Animation for showing and hiding notifications */
.notification-hide {
  opacity: 0;
  transform: translateY(-20px);
}

.text-container {
  margin-top: 16px;
  height: 100px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rebeccapurple;
}

.text-container input {
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-weight: normal;

  padding: 0 16px;
  background-color: #eeeded;
}

.text-container input:focus {
  outline: none;
  border: none;
}
