<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/hcmut.png" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li>Overview</li>
        <li>Tracks</li>
        <li>Comments</li>
        <li>Albums</li>
        <li>Earnings</li>
        <li>Insights</li>
        <li>Benefits</li>
        <li>Membership</li>
        <li>Profile Control</li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <div class="main-content">
    <div class="upload-bar m-t-b-12 w-60-percent">
      <div class="upload-bar-left">
        <div class="logo m-r-4">
          <img src="../../../assets/cu1.png" alt="upload-cloud-data" />
        </div>
        <p class="fw-700"><span class="fw-700">0</span>% of uploads used</p>
        <div class="loading"></div>
        <p><span>0</span> of 180 minutes</p>
      </div>
      <div class="upload-bar-right">
        <button>Get unlimited uploads</button>
      </div>
    </div>
    <div class="text w-60-percent">
      <h1 class="fw-700 fz-40 m-t-b-12">Upload your audio files.</h1>
      <p class="fz-12 m-t-b-12">
        For best quality, use WAV, FLAC, or ALAC. The maximum file size is 4GB
        uncompressed. <u>Learn more.</u>
      </p>
    </div>
    <div class="drop-file-box w-60-percent">
      <div class="drop-file-box-inner">
        <div class="image">
          <img src="../../../assets/draganddrop.jpg" alt="Drag and Drop" />
        </div>
        <p class="fw-700 m-t-b-12">Drop and drag audio files to get started.</p>
        <!-- Input để chọn file -->
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="audio/*" style="display: none;" />
        <button class="fw-700" (click)="triggerFileInput()">Choose files</button>
      </div>
    </div>

    <div class="upload-actions">
      <button class="fw-700" [disabled]="!selectedFile" (click)="onUpload()">
        Upload
      </button>
      <p *ngIf="uploadMessage" class="upload-message">{{ uploadMessage }}</p>
    </div>
    <p class="copyright c-gray">
      <span>Legal</span> - <span>Privacy</span> - <span>Cookie Manager</span> -
      <span>Cookie Policy</span> - <span>Imprint</span> -
      <span>About us</span> - <span>Copyright</span>
    </p>
  </div>
</div>