<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/souncloud-black.png" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li (click)="navigateToOverview()">Overview</li>
        <li (click)="navigateToTracks()">Tracks</li>
        <li (click)="navigateToNewTrack()">New Track</li>
        <li (click)="navigateToAlbums()">Albums</li>
        <li>Earnings (demo)</li>
        <li>Benefits (demo)</li>
        <li>Membership (demo)</li>
        <li>Profile Control</li>
      </ul>
    </nav>
  </aside>

  <!-- Main content -->
  <div class="main-content">
    <div class="header-content">
      <div class="left-header">
        <h1 class="fz-40">My track</h1>
      </div>
      <div class="right-header">
        <div class="right-header-inner">
          <button class="notification-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/bell.png" alt="bell-icon" />
            </i>
          </button>
          <button class="message-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/envelope.png" alt="envelope-icon" />
            </i>
          </button>
          <div class="account-avt header-btn">
            <i class="btn-inner">
              <img [src]="artirstInfor.image_url" alt="jackbentreimg" />
            </i>
            <ul class="artist-dropdown-menu">
              <li><a (click)="navigateToProfile()">Profile</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="text w-60-percent">
      <h1 class="fw-700 fz-40 m-t-b-12">Upload your audio files.</h1>
      <p class="fz-12 m-t-b-12">
        For best quality, use WAV, FLAC, or ALAC. The maximum file size is 4GB
        uncompressed. <u>Learn more.</u>
      </p>
    </div>
    <div class="drop-file-box w-60-percent">
      <div class="drop-file-box-inner">
        <div class="image">
          <img src="../../../assets/draganddrop.jpg" alt="Drag and Drop" />
        </div>
        <p class="fw-700 m-t-b-12">Drop and drag audio files to get started.</p>
        <!-- Input để chọn file -->
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="audio/*" style="display: none" />
        <button class="fw-700" (click)="triggerFileInput()">
          Choose files
        </button>
      </div>
    </div>

    <p class="copyright c-gray">
      <span>Legal</span> - <span>Privacy</span> - <span>Cookie Manager</span> -
      <span>Cookie Policy</span> - <span>Imprint</span> -
      <span>About us</span> - <span>Copyright</span>
    </p>
  </div>
</div>