<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/souncloud-black.png" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li (click)="navigateToTracks()">Tracks</li>
        <li (click)="navigateToNewTrack()">New Track</li>
        <li (click)="navigateToAlbums()">Albums</li>
        <li>Earnings (demo)</li>
        <li>Benefits (demo)</li>
        <li>Membership (demo)</li>
        <li>Profile Control</li>
      </ul>
    </nav>
  </aside>
  <!-- main-content -->
  <div class="main-content">
    <!-- header content -->
    <div class="header-content">
      <div class="left-header">
        <h1 class="fz-40">My track</h1>
      </div>
      <div class="right-header">
        <div class="right-header-inner">
          <button class="notification-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/bell.png" alt="bell-icon" />
            </i>
          </button>
          <button class="message-btn header-btn">
            <i class="btn-inner">
              <img src="../../../assets/envelope.png" alt="envelope-icon" />
            </i>
          </button>
          <div class="account-avt header-btn">
            <i class="btn-inner">
              <img [src]="artirstInfor.image_url" alt="jackbentreimg" />
            </i>
            <ul class="artist-dropdown-menu">
              <li (click)="navigateToProfile()"><a>Profile</a></li>
              <li (click)="logout()"><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- body-content -->
    <div class="body-content">
      <div class="body-content-header">
        <div class="body-content-header-left">
          <img src="../../../assets/musicnote.png" alt="musicnote" />
        </div>
        <div class="body-content-header-right">
          <div>
            <p class="fw-700">Upload your album vì một tương lai tươi sáng</p>
          </div>
          <div><button class="common-btn" (click)="navigateToAlbumUpload()">Upload</button></div>
        </div>
      </div>
      <div class="album-container">
        <div class="boxtrack" *ngFor="let album of albums">
          <div class="track-img-container">
            <img [src]="album.cover_url" alt="Track Image" class="track-img" />
          </div>
          <div class="track-info">
            <h3 class="track-name">{{ album.name }}</h3>
            <p class="track-description">
              {{ album.description }}
            </p>
            <p class="track-status">
              Status: <span class="status">{{ album.status }}</span>
            </p>
            <p class="track-date">Release Date: <span>{{ album.release_date }}</span></p>
          </div>
          <div class="track-action">
            <button class="common-btn" (click)="sendToApprove(album.id)">Send to approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>