// Common
.text-center {
  text-align: center !important;
}

.flex-box {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.gap-8 {
  gap: 8px !important;
}

.position-relative {
  position: relative;
}

/* Login Section */
.sign-in-container {
  width: 100vw;
  height: calc(100vh - 70px);
  background: linear-gradient(132deg,
      rgb(255, 127, 56) 0%,
      rgb(255, 196, 108) 100%);
}

.inner-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 500px;
  height: 630px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  background: #eaedf1;

  /* Nền sáng hơn để dễ nhìn */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.login-form {
  width: 100%;
  height: 70%;
}

.form-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-container {
  width: 100%;
  height: 25%;
}

#validationMessage {
  background-color: #ff4d4f;
  /* Màu cảnh báo đỏ */
  color: #ffffff;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  display: none;
}

.email-container,
.password-container,
.optional-role-container {
  width: 85%;
  margin-bottom: 20px;
}

.label-wrapper {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
}

label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.input-wrapper {
  width: 100%;
  height: 50px;

  overflow: hidden;
}

.role-select {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-left: 15px !important;
  background-color: #fff;
}

#email,
#login-password {
  background-color: #fff;
  color: #333;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  width: 100%;
  padding: 14px 15px;
  font-size: 15px;
  font-weight: 500;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

input {
  border: none !important;
  outline: none !important;
  height: 100% !important;
}

#email:focus,
#login-password:focus {
  border-color: #1ed760;
  box-shadow: 0 0 5px rgba(30, 215, 96, 0.4);
  outline: none;
}

#password-container {
  position: relative;
}

#eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

#eye-icon:hover {
  color: #333;
}


.checkbox-login-container {
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.checkbox-wrapper {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#check-box {
  width: 80%;
  height: 80%;
}

#check-box:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkbox-text-wrapper {
  width: fit-content;
  height: 100%;
}

.checkbox-container p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.login-btn-container {
  margin-top: 20px;
  width: 30%;
}

#login-btn {
  background-color: #fabf66;
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

#login-btn:hover {
  background-color: #f50;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(30, 215, 96, 0.3);
}

.sign-up-container {
  margin-top: 20px;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-text-wrapper {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-btn-wrapper {
  width: 100%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#signup-btn {
  display: flex;
  width: 50%;
  padding: 12px 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #000;
  color: #1ed760;
  border: 1px solid #d1d1d1;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
}

#signup-btn:hover {
  background-color: #f8f8f8;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

i {
  padding-left: 4px;
}

img {
  width: 20px;
  height: 20px;
}

/* Forgot Password */
.forgot-paragraph {
  font-size: 14px;
  color: #555;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.forgot-paragraph:hover {
  color: #1ed760;
}