<div class="container">
  <!-- sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="../../../assets/souncloud-black.png" alt="SoundCloud Logo" />
    </div>
    <nav class="menu">
      <ul>
        <li (click)="navigateToTracks()">Tracks</li>
        <li (click)="navigateToNewTrack()">New Track</li>
        <li>Comments</li>
        <li (click)="navigateToAlbums()">Albums</li>
        <li>Earnings</li>
        <li>Insights</li>
        <li>Benefits</li>
        <li>Membership</li>
        <li>Profile Control</li>
      </ul>
    </nav>
  </aside>

  <!-- main content  -->
  <div class="main-content">
    <div class="cloudinary-response-container">
      {{ message }}
    </div>
    <div class="main-content-body">
      <div class="body-left">
        <div class="dashed avt">
          <div class="artwork-avt">
            <img src="../../../assets/meta-song-upload.jpg" alt="imageicon" />
          </div>
        </div>
      </div>
      <div class="line"></div>
      <form class="form-container" #uploadForm="ngForm" (ngSubmit)="upload()" novalidate>
        <div class="body-right">
          <div class="track-title m-t-b-12">
            <label for="tracktitle" class="fw-700 flex-align-center m-b-8">Track title<span class="c-red">*</span>
              <img src="../../../assets/questionmark.png" alt="question-mark" class="w-16 h-16 m-l-4" /></label>
            <input type="text" id="tracktitle" class="input" [(ngModel)]="name" name="name" />
          </div>
          <div class="description m-t-b-12">
            <label for="description" class="fw-700 m-b-8">Description</label>
            <input type="text" name="description" id="description" class="input m-t-8" [(ngModel)]="description" />
          </div>
          <div class="genre m-t-b-12 flex-dir-col">
            <label for="genre" class="fw-700 m-b-8">Genre</label>
            <select id="genre" class="input" [(ngModel)]="genre_id" name="genre_id">
              <option *ngFor="let genre of genres" [ngValue]="genre.id"> {{ genre.name }} </option>
            </select>
          </div>
          <div class="realease-date m-t-b-12">
            <label for="realease-date" class="fw-700 flex-align-center m-b-8">Realease Date
              <img src="../../../assets/questionmark.png" alt="questionmark" class="w-16 h-16 m-l-4" /></label>
            <input type="date" id="realease-date" class="input" [(ngModel)]="release_date" name="release_date" />
          </div>

          <div class="btn-upload text-center"><button type="submit">Upload</button></div>
        </div>
      </form>
    </div>

    <div class="main-content-footage">
      <div class="main-content-footage-inner">
        <p>
          By uploading, you confirm that your sounds comply with our
          <u>Terms of Use</u> and you don't infringe anyone's rights.
        </p>
      </div>
    </div>
  </div>
</div>