// Common
// mixin flexBox
@mixin flex($justify: center, $align: center, $direction: none) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.fz-40 {
  font-size: 40px;
}
.fz-12 {
  font-size: 12px;
}
.fw-700 {
  font-weight: 700;
}
.br-20 {
  border-radius: 20px;
}

.w-60-percent {
  width: 60% !important;
}

.w-20 {
  width: 20px !important;
}

.h-20 {
  height: 20px !important;
}

.w-16 {
  width: 16px !important;
}

.h-16 {
  height: 16px !important;
}

.w-100 {
  width: 100px !important;
}

.h-auto {
  height: auto !important;
}

.p-4-16 {
  padding: 4px 16px;
}

.p-l-4 {
  padding-left: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-44 {
  margin-top: 44px;
}

.m-t-b-12 {
  margin: 12px 0;
}
.m-r-4 {
  margin-right: 4px;
}
.m-l-4 {
  margin-left: 4px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-l-60 {
  margin-left: 60px;
}
.c-ccc {
  color: #ccc;
}

.c-gray {
  color: gray;
}

.c-red {
  color: red;
}

.text-center {
  text-align: center;
}

.dashed {
  border: 1px dashed #ccc;
  border-radius: 4px;
  height: 416px;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 12px;
  width: 100%;
}
.header-btn {
  margin-right: 12px;
  border-radius: 20px;
  border: 1px solid #000;
  @include flex(center, center);
}

// Private
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  @include flex(none, none);
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
}

.sidebar .logo img {
  width: 100%;
  min-height: 160px;
  margin-bottom: 20px;
}

.sidebar .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu ul li {
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .menu ul li:hover {
  color: #1ed760;
}

.beta {
  font-size: 10px;
  color: #ff5a5a;
  font-weight: bold;
}

// main content
.main-content {
  width: 100%;
  padding: 20px 0;
  @include flex(none, center);
  flex-direction: column;
}
.main-content-header {
  width: 100%;
  height: 5%;
  flex-direction: column;
  @include flex(space-between, center);
}

.header-top {
  width: 100%;
  padding: 0px 32px;
  margin-bottom: 12px;
  @include flex(space-between, center);
}

.header-bot {
  width: 100%;
  height: 20px;
}

.loading-bar {
  width: 100%; /* Chiều rộng của thanh loading */
  height: 10px; /* Chiều cao của thanh loading */
  background-color: #ddd; /* Màu nền xám nhạt */
  overflow: hidden;
  position: relative;
  border-radius: 5px; /* Bo tròn các góc */
}

.loading-stripes {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #fff 25%,
    #ccc 25%,
    #ccc 50%,
    #fff 50%,
    #fff 75%,
    #ccc 75%
  );
  background-size: 40px 40px; /* Kích thước từng ô trắng và xám */
  animation: move-stripes 1s linear infinite; /* Hiệu ứng chuyển động */
}

/* Hiệu ứng chuyển động */
@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.main-content-body {
  margin-top: 40px;
  height: 85%;
  gap: 40px;
  @include flex(space-between, none);
}

.body-left {
  position: relative;
  width: 416px;
}

.avt {
  flex-direction: column;
  @include flex(center, center);
}

.options {
  bottom: 4px;
  font-weight: 700;
  position: absolute;
}

.main-content-footage {
  width: 100%;
}

.main-content-footage-inner {
  position: relative;
  @include flex(center, center);
}
.main-content-footage-inner button {
  position: absolute;
  color: #fff;
  background-color: #1ed760;
  padding: 4px 52px;
  border-radius: 20px;
  right: 20px;
}
