/* You can add global styles to this file, and also import other style files */
app-signin {
  display: block;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0%;
  padding: 0%;
}

.container {
  min-width: 100vw !important;
  min-height: 100vh !important;
}
